.aboutSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 60px auto;
}
.aboutSection .aboutMeImg {
  position: relative;
  background-image: url("/images/6.jpg");
  height: 400px;
  width: 100%;
}
.aboutSection p {
  font-size: 18px;
}
.aboutBtns button:first-child {
  margin-left: 0px;
}
.aboutBtns button:last-child {
  background-color: var(--primaryColor);
}
