.footerWrapper {
  background-color: var(--cardBackground);
}
.footerWrapper > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0px;
}

.footerWrapper .footerLinks p {
  margin-left: 12px;
  cursor: pointer;
}

.footerWrapper .footerIcons {
  display: flex;
}
.footerWrapper .footerIcons i {
  margin-left: 12px;
}
