/* home top section specific styles */

.destopNavWrapper {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
}
.destopNavWrapper .navContainer {
  padding: 3%;
}
.destopNavWrapper .navContainer {
  display: flex;
}
.destopNavWrapper .navContainer ul {
  display: flex;
  padding: 10px;
}
.destopNavWrapper .navContainer ul li {
  margin: 0px 10px;
  font-size: 18px;
  cursor: pointer;
}

.logo {
  background-color: var(--primaryColor);
  padding: 9px 13px;
  border-radius: 50%;
  margin: 0px 20px;
  cursor: pointer;
}

.homePageWrapper {
  position: relative;
  background-image: url("/images/homeBg.jpg");
  height: 700px;
  width: 100%;
  background-attachment: fixed;
}

.darken::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

/* jumbotron section */

.homePageWrapper .jumbotron {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 35%;
  width: 100%;
}

/* center all texts */
.homePageWrapper .jumbotron * {
  text-align: center;
}
.homePageWrapper .jumbotron h2 {
  font-size: 20px;
  color: var(--primaryColor);
}

.homePageWrapper .jumbotron h1 {
  font-size: 50px;
  margin: 5px 0px;
}

.homePageWrapper .jumbotron p {
  font-size: 25px;
}
.jumbotronBtns {
  margin-top: 25px;
}
.jumbotronBtns button:last-child {
  background-color: var(--primaryColor);
}

/* responsiveness */

/* Mobile Nav */

.menuController .container {
  display: none;
  position: fixed;
  top: 0px;
  width: 100%;
  z-index: 5;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.2);
}
.menuIcon i {
  position: absolute;
  top: 32px;
  right: 10%;
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  cursor: pointer;
}
.menuIcon i:nth-child(2) {
  position: absolute;
  right: 10.2%;
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  top: 38px;
}
.menuIcon i:last-child {
  position: absolute;
  right: 10%;
  content: "";
  width: 25px;
  height: 3px;
  background-color: white;
  top: 45px;
}

.menuDrawer {
  position: fixed;
  top: 0px;
  right: 0px;
  height: 100vh;
  z-index: 6;
  min-width: 70%;
  background-color: rgba(0, 0, 0, 0.7);
  transition: var(--ease);
  transform: translateX(100%);
}
.slider {
  transform: translateX(0%);
}
.menuDrawer #closeMenu {
  position: absolute;
  top: 10%;
  right: 30px;
  cursor: pointer;
  transition: var(--ease);
  font-weight: 500;
  font-size: 30px;
}
.menuDrawer #closeMenu:hover {
  color: red;
}
.menuDrawer ul {
  display: inline-block;
}
.menuDrawer ul li {
  font-size: 1.7rem;
  cursor: pointer;
  margin: 20px 5px;
  z-index: 10;
  transition: var(--ease);
  /* display: inline-block; */
}
.menuDrawer ul li:hover {
  color: var(--primaryColor);
}

@media (min-width: 751px) {
  .menuDrawer {
    transform: translateX(100%);
  }
}

@media (max-width: 750px) {
  .menuController .container {
    display: flex;
  }
  .destopNavWrapper .navContainer {
    display: none;
  }
  @media (max-width: 650px) {
    .homePageWrapper .jumbotron h1 {
      font-size: 40px;
    }
    .homePageWrapper .jumbotron p {
      font-size: 20px;
    }

    @media (max-width: 450px) {
      .jumbotronBtns {
        display: flex;
        flex-direction: column;
      }
      .homePageWrapper .jumbotron p {
        font-size: 18px;
      }
      .jumbotronBtns button {
        margin-bottom: 15px;
      }
    }
  }
}
